body{
    background-image: url("../images/background.jpg");
}
#one{
    display: flex;
    justify-content: space-between;
}
#two{
    width: 40%;
    margin-left: 5%;
}
#three{
    width: 40%;
    margin-right: 5%;
}
#four{
    border: 5px solid #A7D397;
}